body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Styles from Conecta
-----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
}

body {
    background: #d8e1e7 url(//sso.byyou.com/images/bg-conecta.jpg) repeat-x 0 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#wrapper {
    width: 980px;
    margin: 0 auto;
    background: url(//sso.byyou.com/images/bg-grafismo.png) no-repeat center top;
}

#content {
    width: 850px;
    margin: 0 auto;
    height: 580px;
}

#header h1 {
    float: left;
    margin-top: 33px;
}

#header span {
    float: right;
    margin-top: 44px;
}

#principal {
    margin-top: 70px;
}

a#guia {
    width: 365px;
    height: 38px;
    display: block;
    margin-top: 90px;
}

a#banner-conecta {
    display: block;
    width: 500px;
    height: 80px;
    margin-top: 85px;
}

.login {
    padding: 20px;
    background-color: #FAFAFA;
    border: 1px solid #acbcc6;
}

h3 {
    font-size: 18px;
    color: #2c6081;
}

.label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 20px 0 5px;
}

.text {
    width: 240px;
    font-size: 13px;
    background-color: #FFF;
    padding: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.button {
    margin: 20px 0 0;
    padding: 8px 10px;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    border-color: #3185CA;
    color: #FFF;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #034168, #2c6081);
    background-image: -ms-linear-gradient(top, #034168, #2c6081);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#034168), to(#2c6081));
    background-image: -webkit-linear-gradient(top, #034168, #2c6081);
    background-image: -o-linear-gradient(top, #034168, #2c6081);
    background-image: linear-gradient(top, #034168, #2c6081);
    background-repeat: repeat-x;
    border-color: #2c6081 #2c6081 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

    .button:hover {
        background-color: #2c6081;
        background-image: -moz-linear-gradient(center top, #3185CA, #2c6081);
        background-image: linear-gradient(center top, #3185CA, #2c6081);
    }

    .button:active {
        background-color: #003399 \9;
    }

p {
    margin: 10px 0;
    font-size: 13px;
}

label {
    color: #555;
}

.checkbox {
    margin-left: 10px;
}

.persist {
    font-size: 13px;
}

.link {
    font-size: 13px;
    color: #3185CA;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin: 10px 0 0;
}

    .link:hover {
        text-decoration: none;
    }

.footer {
    margin: 30px 0 0;
    padding: 10px 0;
    border-top: 1px solid #a8becd;
}

.languages {
    float: left;
}

.logo_totvs {
    float: right;
}

.language {
    cursor: pointer;
}

.disclaimer {
    font-size: 11px;
    text-align: center;
    float: left;
    width: 825px;
    color: #3f7294;
}

.footer_link {
    text-decoration: underline;
    cursor: pointer;
}

    .footer_link:hover {
        text-decoration: none;
    }

.byyou_errors {
    font-size: 12px;
    color: #F00;
    background-color: #FED;
    padding: 20px;
    border: 1px solid #F00;
    margin-bottom: 10px;
}
