<form id="verificaCpf" action="@Url.Action("VerificaCpf", "Home")" method="POST">
    <h3>Faça seu login!</h3>
    <label for="cpf" class="label">CPF</label>
    <input id="cpf" name="cpf" class="text" type="text" />
    
    <div class="clearfix"></div>

    <input class="button" value="submit" type="button" />
</form>
