@{
    ViewBag.Title = "Estácio - Cadastro";
}

<div id="resultado">
    @Html.Partial("_FormCpf")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/valida-cpf.js")"></script>
}
