@{
    ViewBag.Title = "Index";
}

<form id="form-cpf" action="" method="post">
    <div class="login">
        <h3>Faça seu login!</h3>
        <label for="cpf" class="label">CPF:</label>
        <input id="cpf" name="cpf" class="text" type="text" />
        <input class="button" name="submit" value="Validar" type="submit">
    </div>
</form>